# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
poetry.lock

# PyTest
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE/Editor configs
.idea/
.vscode/
*.swp
*.swo

# Secret scanner outputs
secrets_findings.yaml
generated_allowlist.yaml
sensitive-git-history-files.txt

# Operating System
.DS_Store
